.order-tracking-cust-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-color: #ffffff;
  }
  
  .accordion-header {
    background-color: #f7f9fc;
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
  }
  
  .accordion-header:hover {
    background-color: #e3e7ee;
  }
  
  .accordion-content {
    padding: 20px;
    background-color: #ffffff;
  }
  
  .order-content {
    font-size: 14px;
    color: #555;
  }
  
  .order-content p {
    margin-bottom: 12px;
    line-height: 1.5;
  }
  
  .order-content strong {
    color: #333;
  }

.order-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.view-invoice-button {
  position: absolute;
  top: 20px;    /* Adjust as needed */
  right: 20px;  /* Adjust as needed */
  padding: 10px 15px;
  background-color: #bc600f !important;
  border-radius: 0px !important;
  color: #fff;
  border: none;
  cursor: pointer;
}

.view-invoice-button:hover {
  background-color: #000000 !important;
}

.no-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  text-align: center;
}

.no-orders p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.start-shopping-button {
  padding: 12px 24px;
  background-color: #846b22;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.start-shopping-button:hover {
  background-color: #43380a;
  transform: translateY(-2px);
}