/* CartSidebar.css */

.cart-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px; /* Boyutunu büyüttük */
  height: 100%;
  background-color: #fdfdfd;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.4s ease;
  padding: 2rem;
  z-index: 1000;
  overflow-y: auto;
}

.cart-sidebar.open {
  transform: translateX(0);
}

.close-button {
  background: none;
  border: none;
  font-size: 1.8rem;
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

.cart-sidebar h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.cart-items {
  margin-top: 2rem;
  max-height: calc(100% - 200px);
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
}

.cart-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cart-item-info {
  flex-grow: 1;
}

.cart-item h3 {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
  color: #333;
}

.cart-item p {
  margin: 0.3rem 0;
  color: #666;
  font-size: 0.9rem;
}

.cart-total {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #eee;
}
.pay-now-button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pay-now-button:hover {
  background-color: #45A049;
}
